# web application files
/web-app/WEB-INF

# IDE support files
/.classpath
/.project
/.settings

*.log

# plugin release file
/*.zip
/*.zip.sha1
/plugin.xml

# "temporary" build files
/target

### IntelliJ ###
*.iml
*.ipr
*.iws
.idea/

cobertura.ser
node_modules/
