Thumbs.db
.DS_Store

# GRAILS files
/web-app/WEB-INF
/target
/target-eclipse

# GRADLE files
build/
.gradle/

# IDE files
.classpath
.idea/
*.ipr
*.iws
*.iml
.project
.settings
/*.launch
/*.tmproj

*.log
*.zip
/out
plugin.xml
*.sha1